<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />


<body>
	<div th:replace="common/header :: navbar" />
	<br />



	<header class="row text-center header">
		<h1 class="author">Rayhan ahmed</h1>
	</header>

	<div class="container">

		<div class="row">
			<div class="col-xs-2"></div>

			<div class="col-xs-8">


				<header class="row text-left title">
					<h1 class="title">About</h1>
				</header>
				<section id="category-pane" class="row meta"></section>
				<section id="content-pane" class="row">
					<div class="col-md-12 text-justify content">


						<p>I&rsquo;m Rayhan ahmed, Born and live in Bangladesh, Love
							to work with challenge, passion and new technology. I am a runing
							student of Software Engineering . I put a lot of time in
							competitive programming (ACM ICPC). I am more focused on
							fundamentals of computer programming, data structure, algorithm
							&amp; software engineering, which allows me to learn and getting
							used to with any kind of technologies quickly. I have several
							projects based on java and angular2 .My career goal is to work
							with distributed system, embedded software engineering and
							ultimately Internet of things and AI.</p>

						<h2 id="what-i-m-looking-for">What I&rsquo;m looking for?</h2>

						<p>I want to travel, I want to work and travel at the same
							time, working 100% remotely.</p>

						<p>I prefer to work with people that love the product we are
							creating, putting a lot of effort to improve what we are
							creating. People that really love coding.I believe I am capable
							to accept new challenges.</p>

						<p>I learn fast, early adopt and continuously explore with
							innovation.</p>

						<p>Flexible hours and flexible days will be a must. I want to
							manage my own schedule.</p>

						<p>As you can see, this is a &ldquo;perfect job&rdquo;.
							Meaning, you can offer something that do not full fill this
							points. We can negotiate it.</p>

						<blockquote>
							<p>Note: I want to continue working in java &amp; Spring
								framework . I prefer Backend, but frontend using angular could
								be a good option and java and angular could be a fun.</p>
						</blockquote>

						<h2 id="glad-to-work-with">Glad to work with</h2>

						<ul>
							<li>TypeScript/Angular</li>
							<li>Java/Springframework</li>
							<li>C</li>
							<li>Database (Postgres)</li>
						</ul>

						<h2 id="languages">Languages</h2>

						<ul>
							<li>Bangla - Native speaker</li>
							<li>English

								<ul>
									<li>Writing: I have no problems to chat and keep a written
										communication.</li>
									<li>Speaking &amp; Listening: When talking about technical
										stuffs, I have no problem, but, I feel like my vocabulary is
										not big as I would like it to be, so sometimes, in small talks
										or non-technical-talks, I find myself stuck, but not a big
										deal.</li>
								</ul>
							</li>
						</ul>

						<h2 id="a-bit-of-my-history">A bit of my history</h2>

						<p>
							From 2015 I started Software Engineering bachelor course at <a
								href="https://daffodilvarsity.edu.bd/">University</a>, During
							University life I put a lot of time in competitive programming
							(ACM ICPC) during my university life. And started learning java
							besides study.
						</p>

						<p>From 2016 to 2017 I always worked in personal projects
							using always the same technologies (creating and setting up
							absolutely everything on my own).</p>

						<ul>

							<li>GIT</li>
							<li>Java</li>
							<li>C/C++/java (Problem Solving/Contest)</li>
							<li>SQLite, MySQL</li>
						</ul>



						<p>This stack was super productive for me until mid 2017,
							moment where I got opportunity to work on java, angular
							,Springframework. So now, my stack for personal projects has this
							shape:</p>

						<ul>
							<li>TypeScript/Angular (Frontend)</li>
							<li>Java/SpringFramework (Backend)</li>
							<li>GIT</li>
						</ul>

						<p>
							^ This is my current Stack.
							<code>REST API</code>
							, frontend with
							<code>Angular</code>
							and
							<code>Backend</code>
							using
							<code>Springframework + SQL + NoSQL &amp;
								Non-Relational-DB (like Postgres)</code>

						</p>


						<h2
							id="full-list-of-tech-that-i-have-dealt-with-in-my-whole-life-in-chronological-order">Full
							list of tech that I have dealt with (in my whole life, in
							chronological order)</h2>

						<ul>
							<li>C/C++</li>
							<li>Java</li>
							<li>JavaScript(jQuery)</li>
							<li>Java (SpringFramework)</li>
							<li>PHP</li>
							<li>Package Manager (npm)</li>
							<li>HTML (but not CSS)</li>
							<li>SQL Server (Microsoft)</li>
							<li>MySQL</li>
							<li>Postgres</li>
							<li>SQLite</li>
							<li>GIT</li>
							<li>MVC</li>
							<li>Hibernate</li>
							<li>Bootstrap</li>
							<li>OOP</li>
							<li>REST</li>
							<li>Apache</li>
							<li>Third-party APIs (Themoviedb.com)</li>
						</ul>

						<h2 id="something-more">Something more?</h2>

						<ul>
							<li>I&rsquo;m super sociable.</li>
							<li>#music, #reading, #sharing, #problem-solving, #sleeping,
								#Chess</li>
							<li>I love traveling, a lot.</li>
							<li>Sometimes I find someone</li>
						</ul>
					</div>
				</section>
				<section id="tag-pane" class="row meta"></section>

			</div>

			<div class="col-xs-2"></div>



		</div>




	</div>




	<div th:replace="common/header :: footer" />
	<div th:replace="common/header :: body-bottom-scripts" />


</body>

</html>