<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />


<body style="background-color:#FAE4E1;">
	<div th:replace="common/header :: navbar" />
	<br />



	<header class="row text-center header">
		<h1 class="author">Rayhan Ahmed</h1>
	</header>

	<div class="container">

		<div class="row">
			<div class="col-xs-2"></div>

			<div class="col-xs-8">


				<header class="row text-left title">
					<h1 class="title">About</h1>
				</header>
				<section id="category-pane" class="row meta"></section>
				<section id="content-pane" class="row">
					<div class="col-md-12 text-justify content">


						<p>I&rsquo;m Rayhan Ahmed from Bangladesh. I love
							to work with challenge, passion and new technology. Currently I am studying
							Software Engineering and put a lot of effort in
							competitive programming (ACM ICPC), data structure, algorithm
							&amp; software engineering. I am more focused on the
							fundamentals of computer programming which allows me to learn and get
							used to new technologies quickly. My career goal is to work
							with distributed system, embedded software engineering,
							internet of things and ultimately AI. I have several
							projects based on Java and Angular hosted on Github.</p>

						<h2 id="what-i-m-looking-for">What I&rsquo;m looking for?</h2>

						<p>I love to travel. And working while traveling is my passion.</p>

						<p>I prefer to work with people that love the product I am
							creating, because I treat the product as mine. There are some idols whom I follow regularly. 
							They are the source of my inspirations.</p>

						<p>I learn fast, adopt early and continuously explore for
							innovations.</p>

						<p>Time flexibility gives me my ultimate freedom and dedication.</p>


						<blockquote>
							<p>Note: I want to continue working in Java &amp; Spring
								framework. I prefer  working with Backend using Java, but frontend using angular could
								be a good option too.</p>
						</blockquote>

						<h2 id="glad-to-work-with">Glad to work with</h2>

						<ul>
							<li>TypeScript/Angular</li>
							<li>Java/Springframework</li>
							<li>C</li>
							<li>Database (Postgres)</li>
						</ul>

						<h2 id="languages">Languages</h2>

						<ul>
							<li>Bangla - Native speaker</li>
							<li>English

								<ul>
									<li>Writing: I have no problem to chat and continue a written
										communication.</li>
									<li>Speaking &amp; Listening: When talking about technical
										stuffs, I have no problem, but, I feel like my vocabulary is
										not so good as I would like it to be, so sometimes, in small talks
										or non-technical-talks, I find myself getting stuck.</li>
								</ul>
							</li>
						</ul>

						<h2 id="a-bit-of-my-history">A bit of my history</h2>

						<p>
							In 2015 I started my bachelor course in Software Engineering at <a
								href="https://daffodilvarsity.edu.bd/">University</a>, During
							University life I put a lot of time in competitive programming
							(ACM ICPC) and started learning java.
						</p>

						<p>From 2016 to 2017 I have worked in my personal projects
							using the same technologies (creating and setting up
							absolutely everything on my own).</p>

						<ul>
							<li>GIT</li>
							<li>Java</li>
							<li>C/C++/java (Problem Solving/Contest)</li>
							<li>SQLite, MySQL</li>
						</ul>



						<p>The above stack was super productive for me until mid 2017.
							Then I got opportunity to work on Java, Angular,
							 Spring framework. So now, my stack for personal projects has become like this-
							</p>

						<ul>
							<li>TypeScript/Angular (Frontend)</li>
							<li>Java/Spring framework (Backend)</li>
							<li>GIT</li>
						</ul>

						<p>
							^ This is my current Stack.
							<code>REST API</code>
							, frontend with
							<code>Angular</code>
							and
							<code>Backend</code>
							using
							<code>Spring framework + SQL + NoSQL &amp;
								Non-Relational-DB (like Postgres)</code>

						</p>


						<h2
							id="full-list-of-tech-that-i-have-dealt-with-in-my-whole-life-in-chronological-order">Full
							list of technologies that I have dealt with (in my whole life)</h2>

						<ul>
							<li>C/C++</li>
							<li>HTML</li>
							<li>Java</li>
							<li>MySQL</li>
							<li>OOP</li>
							<li>Java (SpringFramework)</li>
							<li>MVC</li>
							<li>Hibernate</li>
							<li>Bootstrap</li>
							<li>JavaScript(jQuery)</li>
							<li>SQL Server (Microsoft)</li>
							<li>Postgres</li>
							<li>GIT</li>
							<li>PHP</li>
							<li>Package Manager (npm)</li>
							<li>SQLite</li>
							<li>REST</li>
							<li>Apache</li>
							<li>Third-party APIs (Themoviedb.com)</li>
						</ul>

						<h2 id="something-more">Something more?</h2>

						<ul>
							<li>I&rsquo;m super sociable.</li>
							<li>#traveling, #music, #reading, #sharing, #problem-solving, #sleeping,
								#chess, #newness</li>
						</ul>
					</div>
				</section>
				<section id="tag-pane" class="row meta"></section>

			</div>

			<div class="col-xs-2"></div>



		</div>




	</div>




	<div th:replace="common/header :: footer" />
	<div th:replace="common/header :: body-bottom-scripts" />


</body>

</html>