<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

     <br />
	  
	  	<header class="row text-center header">
					<h1 class="author">Rayhan ahmed</h1>
				</header>
	<div class="container">

		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8">


				<header class="row text-left title">
					<h1 class="title">Contact</h1>
				</header>
				<section id="category-pane" class="row meta"></section>
				<section id="content-pane" class="row">
					<div class="col-md-12 text-justify content">


						<h3 id="direct-contact">Direct Contact:</h3>

						<p>
							Mail to <a href="rayhan1ahamed@gmail.com">rayhan1ahamed[at]gmail.com</a>.
						</p>

						<h3 id="do-you-want-to-stalk-a-little-bit">Do you want to
							stalk a little bit?</h3>

						<ul>
							<li>GitHub: <a href="https://github.com/ryhan000">@ryhan000</a>
								(for personal projects)
							</li>
							<li>Facebook: <a
								href="https://facebook.com/rayhan.ahamed.5851">@rayhan.ahamed.5851</a>
								(a little bit about me)
							</li>
							<li>Twitter: <a href="https://twitter.com/ryhan_i">@ryhan_i</a>
								(about my profession)
							</li>
						</ul>

						<p>
							Yeah&hellip; Oneday You can find me in everyplace just looking
							for
							<code>Rayhan ahmed</code>
							.
						</p>

					</div>
				</section>
				<section id="tag-pane" class="row meta"></section>
			</div>
			<div class="col-xs-2"></div>
		</div>


	</div>

	<div th:replace="common/header :: footer" />
	<div th:replace="common/header :: body-bottom-scripts" />

</body>

</html>